
#contenedor{
	max-height: 180%;
}

#menu{
border-radius: 30%;
background-color:white;
width:100%;
height:10%;
}

#menu ul li {
	list-style: none;
	float: left;
}


#menu ul li a{
text-decoration:none;
color:black;
}

#menu ul li a:hover{
text-decoration:none;
color:blue;
}


img.logotipo{
-webkit-filter: grayscale(100%);
border-radius: 2px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
max-width:100%;
border-radius: 15%;
}

img.logotipo:hover {
border-radius: 30%;
-webkit-filter: sepia(0%);
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}




	
